*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ccc;
}

h1{
    text-align: center;
    font-size: 3rem;
}

header{
    display: flex;
    flex-flow:row wrap ;
    width: 90%;
    border: 0.06rem solid black;
    margin: auto auto;
}

input{
    height: 7.5rem;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}

button.add{
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border:none;
    height: 7.5rem;
    border-top-right-radius: 0.625rem ;
    border-bottom-right-radius: 0.625rem ;

}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 2.5rem;
}

.item{
    display: flex ;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 5rem;
    width: 100%;
    box-shadow: 0 0 1.25rem #ccc;
    margin-bottom: 2%;
    cursor: pointer;
}

.item-icone{
    flex: 20%;
    text-align: center;
    font-size: 2rem;

}

.item-nome{
    flex: 55%;
    font-size: 1.25rem;
    font-weight: bold;

}

.item-botao{
    flex: 25%;

}

.delete{
    background: red;
    color: white;
    border: none;
    padding: 0.625rem;
    height: 5rem;
    width: 100%;
}

.item.clicado{
    background: #d4f6d9;
}

.item.clicado .item-nome{
    text-decoration: line-through; 
    color: gray;
}

.mdi-check-circle{
    color: green;
}